/*PAGINA INICIO*/
/* Inicio Variables*/
/*Colores*/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
/* Fin Variables*/
/* General */
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-inicio a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}

.navbar-inicio a:hover {
  color: #6EA4BF !important;
  transform: scale(1.4);
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/* main inicio */
.main-inicio {
  background-image: url(../img/Inicio/vintage-old-rustic-cutlery-dark.jpg);
  background-size: cover;
  height: 400px;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 10px;
}

.shadow-titulo, .titulosec2-contacto, .sec-5-mentalidad h2, .sec-4-mentalidad h2, .sec-3-mentalidad h2, .sec-2-mentalidad h2, .sec-1-mentalidad h2, .sec-2-nosotros h2, .sec-1-nosotros h2, .sec-3-comida h2, .titulosec2-comida, .sec-1-comida h2, .sec-3-inicio h2, .sec-2-inicio h2, .sec-1-inicio h2 {
  text-shadow: 3px 2px 1px #5a5959;
}

.main-inicio-box1 {
  background-image: linear-gradient(to bottom, #000000, #2d262c, #4e4a5b, #63748f, #6ea4bf);
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #fff;
}
.main-inicio-box1 h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.main-inicio-box1 p {
  font-size: 14px;
  color: #000;
  margin: 0px;
  padding-bottom: 10px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.main-inicio-box1 a {
  text-decoration: none;
  color: #6EA4BF;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 500;
  transition: all 400ms;
}
.main-inicio-box1 a:hover {
  padding: 8px 13px;
  font-size: 16px;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-inicio {
    justify-content: end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/* main fin */
/* section-1 inicio */
.sec-1-inicio {
  background-image: linear-gradient(to bottom, #6ea4bf, #7fb7ca, #93cad5, #a9dddf, #c2efeb);
  border-top: 2px solid #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
}
.sec-1-inicio h2 {
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 300ms;
}
.sec-1-inicio h2:hover {
  transform: scale(1.1);
  cursor: default;
}
.sec-1-inicio p {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
  color: #000;
}

.sec-1-inicio-div1 {
  max-width: 900px;
}

.fila-1-sec1-inicio {
  display: flex;
}

.img1-sec1-inicio {
  background-image: url(../img/Inicio/img1-inicio-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.img2-sec1-inicio {
  background-image: url(../img/Inicio/img2-inicio-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 20px;
}

/* inicio mediaquery */
@media (min-width: 320px) and (max-width: 576px) {
  .img1-sec1-inicio {
    margin-bottom: 25px;
  }
}
@media (min-width: 870px) {
  .img1-sec1-inicio,
  .img2-sec1-inicio {
    height: 380px;
  }
  .sec-1-inicio p {
    font-size: 20px;
    margin-top: 50px;
  }
}
/* fin mediquery */
/* section-1 fin */
/* section-2 inicio */
.sec-2-inicio {
  background-image: linear-gradient(to bottom, #c2efeb, #cbf3e9, #d6f7e8, #e1fbe7, #ecfee8);
  border-top: 2px solid #fff;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-2-inicio h2 {
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: 300ms;
}
.sec-2-inicio h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.slayer {
  border: 3px solid #fff;
  border-radius: 4px;
  max-width: 900px;
}

.carousel-caption {
  text-align: center;
}

.carousel-item h3 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 0px #6EA4BF, 2px 2px 0px #000;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

/* inicio mediaquery */
@media (min-width: 390px) {
  .carousel-item h3 {
    font-size: 22px;
  }
}
@media (min-width: 760px) {
  .carousel-item h3 {
    font-size: 28px;
  }
}
/* fin mediaquery */
/* section-2 fin */
/* section-3 inicio */
.sec-3-inicio {
  background-image: linear-gradient(to bottom, #ecfee8, #d9e6c6, #cacda4, #beb484, #b49a67);
  border-top: 2px solid #fff;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-3-inicio h2 {
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 300ms;
}
.sec-3-inicio h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.sec-3-inicio-div1 {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-3-inicio p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.sec-3-inicio-box1 {
  display: flex;
  align-items: center;
  padding: 15px;
}

.sec-3-inicio-img1 {
  background-image: url(../img/Inicio/img1-inicio-sec4.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  border: 3px solid #000;
  border-radius: 20px;
}

/* inicio mediaquery */
@media (min-width: 820px) {
  .sec-3-inicio-box1 p {
    font-size: 18px;
  }
}
@media (min-width: 1000px) {
  .sec-3-inicio-img1 {
    height: 350px;
  }
  .sec-3-inicio-box1 p {
    font-size: 20px;
  }
}
/* fin mediaquery */
/* section-3 fin */
/* footer inicio */
footer {
  border-top: 2px solid #000 !important;
  padding: 15px 25px 0px 25px;
  background-color: #B49A67 !important;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
  transition: all 500ms;
}

.redes a:hover {
  color: #fff;
  font-size: 37px;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}
.footer-box3 a:hover {
  color: #fff;
  font-size: 28px;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
#up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 25px;
  transition: 500ms;
}

#up:hover {
  padding: 2px 9px;
}

/* up fin */
/*PAGINA COMIDA*/
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Inicio Variables*/
/*Colores*/
/* Fonts */
/* Fin Variables*/
/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-comida a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}

.navbar-comida a:hover {
  color: #397367 !important;
  transform: scale(1.4);
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/* main inicio */
.main-comida {
  background-image: url(../img/Comida/img1-comida-sec1.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #fff;
}

.sombra-titulo, .main-comida-box1 h1 {
  text-shadow: 4px 0px 4px #1d1d1d;
}

.main-comida-box1 {
  background-image: linear-gradient(to bottom, #000000, #251c19, #3b3425, #43533b, #397367);
  width: 300px;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid #fff;
}
.main-comida-box1 p {
  color: #fff;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  padding-top: 10px;
}
.main-comida-box1 h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
  padding: 0px;
  color: #fff;
}
.main-comida-box1 a {
  text-decoration: none;
  color: #397367;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 500;
  transition: all 400ms;
}
.main-comida-box1 a:hover {
  padding: 8px 13px;
  font-size: 16px;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-comida {
    justify-content: end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/* main fin */
/* section-1 inicio */
.sec-1-comida {
  padding: 15px 25px;
  background-image: linear-gradient(to bottom, #397367, #43887e, #4e9e96, #58b5af, #63ccca);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
}
.sec-1-comida h2 {
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 40px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  padding: 25px 0px 50px 0px;
  transition: all 300ms;
}
.sec-1-comida h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.sec-1-comida-div1 {
  max-width: 700px;
}

.sec-1-comida-box1 {
  background-image: url(../img/Comida/img3-comida-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-top: 25px;
}

.sec-1-comida-box2 {
  background-image: url(../img/Comida/img2-comida-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-top: 25px;
}

.sec-1-comida-box3 {
  text-align: center;
  padding-top: 20px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  padding-top: 45px;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-comida {
    justify-content: flex-end;
    padding-right: 25px;
  }
}
@media (min-width: 576px) {
  .sec-1-comida-box4 {
    height: 400px;
  }
  .sec-1-comida-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 700px) {
  .sec-1-comida-box1,
  .sec-1-comida-box2 {
    height: 300px;
  }
  .sec-1-comida-box3 p {
    font-size: 20px;
  }
  .sec-1-comida-box4 {
    height: 500px;
  }
}
/* fin mediauqery */
/* section-1 fin */
/* section-2 inicio */
.sec-2-comida {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #63ccca, #76cfc3, #88d1bd, #98d3b9, #a8d5b7);
  border-top: 3px solid #fff;
}

.titulosec2-comida {
  text-align: center;
  padding: 25px 0px 50px 0px;
  font-size: 35px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 300ms;
}

.titulosec2-comida:hover {
  transform: scale(1.1);
  cursor: default;
}

.sec-2-comida-div1 {
  max-width: 800px;
}

.sec-2-comida-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px !important;
}

.sec-2-comida-box1-img {
  background-image: url(../img/Comida/pancakes.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  border: 3px solid #fff;
  border-radius: 20px;
}

.sec-2-comida-box1 p {
  text-align: center;
  margin-top: 30px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .sec-2-comida-box1-img {
    height: 300px;
  }
}
@media (min-width: 700px) {
  .sec-2-comida-box1-img {
    height: 350px;
  }
  .sec-2-comida-box1 p {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  .sec-2-comida-box1-img {
    height: 400px;
  }
}
/* fin mediaquery */
.sec-2-comida-box2 {
  background-image: url(../img/Comida/img2-comida-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.sec-2-comida-box3 {
  background-image: url(../img/Comida/img3-comida-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.sec-2-comida-box4 p {
  text-align: center;
  margin-top: 25px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
}

/* inicio mediaquery */
@media (min-width: 320px) and (max-width: 576px) {
  .sec-2-comida-box3 {
    margin-top: 25px;
  }
}
@media (min-width: 700px) {
  .sec-2-comida-box4 p {
    font-size: 20px;
  }
  .sec-2-comida-box2,
  .sec-2-comida-box3 {
    height: 500px;
  }
}
/* fin mediaquery */
/* section-2 fin */
/* section-3 inicio */
.sec-3-comida {
  border-top: 2px solid #fff;
  background-image: linear-gradient(to bottom, #a8d5b7, #b6d9b0, #c7dbaa, #d9dda6, #eddea4);
  padding: 25px 20px 100px 20px;
}
.sec-3-comida h2 {
  text-align: center;
  padding: 25px 0px 50px 0px;
  font-size: 35px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 300ms;
}
.sec-3-comida h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.contendor-platos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 300px);
  grid-gap: 10px;
}

.plato {
  border: 3px solid #fff;
  border-radius: 20px;
}

.platos-img1 {
  background-image: url(../img/Comida/galeria/vegan-alto.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img2 {
  background-image: url(../img/Comida/galeria/canape.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img3 {
  background-image: url(../img/Comida/galeria/hamburger.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img4 {
  background-image: url(../img/Comida/galeria/meals.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img5 {
  background-image: url(../img/Comida/galeria/eggs-alto.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img6 {
  background-image: url(../img/Comida/galeria/salad.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img7 {
  background-image: url(../img/Comida/galeria/lobsters.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.platos-img8 {
  background-image: url(../img/Comida/galeria/blueberries.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.plato h4 {
  width: 100%;
  color: #000;
  background-color: rgba(168, 213, 183, 0.5);
  border-top: 1px solid #fff;
  text-align: center;
  padding: 5px;
  margin: 0;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .contendor-platos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 10px;
  }
  .platos-img2 {
    background-position: left;
  }
}
@media (min-width: 780px) and (max-width: 1050px) {
  .contendor-platos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 170px);
  }
  .platos-img1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .platos-img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .platos-img3 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .platos-img4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .platos-img5 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .platos-img6 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .platos-img7 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .platos-img8 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .plato h4 {
    font-size: 16px;
  }
}
@media (min-width: 1050px) {
  .contendor-platos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
  }
}
/* fin mediaquery */
/* section-3 fin */
/* footer inicio */
footer {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
}

.footer-comida {
  background-color: #EDDEA4 !important;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
  transition: all 500ms;
}
.redes .redes a:hover {
  color: #fff;
  font-size: 37px;
}

.redes a:hover {
  color: #fff;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box3 a:hover {
  color: #fff;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
#up-comida {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 25px;
  transition: 500ms;
}

#up-comida:hover {
  padding: 2px 9px;
}

/* up fin */
/*PAGINA NOSOTROS*/
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Inicio Variables*/
/*Colores*/
/* Fonts */
/* Fin Variables*/
/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}

.navbar-nosotros a:hover {
  color: #6FD08C !important;
  transform: scale(1.4);
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/*inicio main*/
.main-nosotros {
  background-image: url(../img/Nosotros/img1-nosotros-sec1.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #fff;
}

.main-nosotros-box1 {
  width: 280px;
  background-image: linear-gradient(to bottom, #000000, #402924, #705533, #858f4b, #6fd08c);
  border: 2px solid #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.main-nosotros-box1 h1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  font-family: "ZCOOL XiaoWei", sans-serif;
  padding: 0px;
}
.main-nosotros-box1 p {
  font-size: 14px;
  color: #fff;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  padding-top: 10px;
}
.main-nosotros-box1 a {
  text-decoration: none;
  color: #6FD08C;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 500;
  transition: all 400ms;
}
.main-nosotros-box1 a:hover {
  padding: 8px 13px;
  font-size: 16px;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-nosotros {
    justify-content: flex-end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/*fin main*/
/* section-1 inicio */
.sec-1-nosotros {
  border-top: 2px solid #fff;
  background-image: linear-gradient(to bottom, #6fd08c, #8fd272, #b2d159, #d8cd44, #ffc53a);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-1-nosotros h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 300ms;
}
.sec-1-nosotros h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.sec-1-nosotros-div1 {
  max-width: 800px;
}

.sec-1-nosotros-img1 {
  background-image: url(../img/Nosotros/lara.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  border: 3px solid #fff;
  border-radius: 20px;
}

.sec-1-nosotros-box1 {
  text-align: center;
}
.sec-1-nosotros-box1 h3 {
  margin-top: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.sec-1-nosotros-box1 h4 {
  margin-bottom: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.sec-1-nosotros-img2 {
  background-image: url(../img/Nosotros/george.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  border: 3px solid #fff;
  border-radius: 20px;
}

.sec-1-nosotros-box2 {
  text-align: center;
}
.sec-1-nosotros-box2 h3 {
  margin-top: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.sec-1-nosotros-box2 h4 {
  margin-bottom: 15px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.sec-1-nosotros-fila2 {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.sec-1-nosotros-fila2 p {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 476px) {
  .sec-1-nosotros-img1,
  .sec-1-nosotros-img2 {
    height: 450px;
  }
}
@media (min-width: 675px) {
  .sec-1-nosotros-fila2 p {
    font-size: 22px;
  }
}
/* fin mediaquery */
/* section-1 fin */
/* section-2 inicio */
.sec-2-nosotros {
  border-top: 2px solid #fff;
  background-image: linear-gradient(to bottom, #ffc53a, #f9cc58, #f4d372, #f0d98b, #eddea4);
}
.sec-2-nosotros h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding: 25px 0px 50px 0px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 300ms;
}
.sec-2-nosotros h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.box-equipo {
  text-align: center;
  height: auto;
}
.box-equipo h3 {
  padding-top: 10px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.box-equipo h4 {
  padding-bottom: 10px;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.box-border-nosotros, .sec-2-nosotros-img6, .sec-2-nosotros-img5, .sec-2-nosotros-img4, .sec-2-nosotros-img3, .sec-2-nosotros-img2, .sec-2-nosotros-img1 {
  border: 3px solid #fff;
  border-radius: 20px;
}

.sec-2-nosotros-img1 {
  background-image: url(../img/Nosotros/img3-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img2 {
  background-image: url(../img/Nosotros/img4-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img3 {
  background-image: url(../img/Nosotros/img5-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img4 {
  background-image: url(../img/Nosotros/img6-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img5 {
  background-image: url(../img/Nosotros/img7-nosotros-sec3.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.sec-2-nosotros-img6 {
  background-image: url(../img/Nosotros/img8-nosotros-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

/*inicio mediaquery*/
@media (min-width: 428px) and (max-width: 575px) {
  .equipo-img {
    height: 500px;
  }
}
/*fin mediaquery*/
/* section-2 fin */
/* footer inicio */
footer {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
}

.footer-nosotros {
  background-color: #EDDEA4 !important;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
  transition: all 500ms;
}
.redes a:hover {
  color: #fff;
  font-size: 37px;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}
.footer-box3 a:hover {
  color: #fff;
  font-size: 28px;
}

.footer-box3 a:hover {
  color: #fff;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
#up-nosotros {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 25px;
  transition: 500ms;
}

#up-nosotros:hover {
  padding: 2px 9px;
}

/* up fin */
/*PAGINA MENTALIDAD*/
/* Inicio Variables*/
/*Colores*/
/* Fonts */
/* Fin Variables*/
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}

.navbar-mentalidad a:hover {
  color: #CF5C36 !important;
  transform: scale(1.4);
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/*inicio main*/
.main-mentalidad {
  background-image: url(../img/Mentalidad/img1-mentalidad-sec1.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #fff;
}

.main-mentalidad-box1 {
  width: 280px;
  background-image: linear-gradient(to bottom, #000000, #361a1f, #692b2e, #9d4037, #cf5c36);
  border: 2px solid #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.main-mentalidad-box1 h1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  font-family: "ZCOOL XiaoWei", sans-serif;
  padding: 0px;
}
.main-mentalidad-box1 p {
  font-size: 14px;
  color: #fff;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  padding-top: 10px;
}
.main-mentalidad-box1 a {
  text-decoration: none;
  color: #CF5C36;
  background-color: #000;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 500;
  transition: all 400ms;
}
.main-mentalidad-box1 a:hover {
  padding: 8px 13px;
  font-size: 16px;
}

/* inicio mediaquery */
@media (min-width: 420px) {
  .main-mentalidad {
    justify-content: flex-end;
    padding-right: 25px;
  }
}
/* fin mediaquery */
/*fin main*/
/*seccion-1 inicio*/
.sec-1-mentalidad {
  border-top: 2px solid #fff;
  background-image: linear-gradient(to bottom, #cf5c36, #d87944, #df9558, #e7af6f, #efc88b);
  text-align: center;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-1-mentalidad h2 {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 40px;
  padding: 25px 0px 60px 0px;
  font-weight: 500;
  color: #000;
  transition: all 300ms;
}
.sec-1-mentalidad h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.fila-1-mentalidad {
  max-width: 750px;
}

.img-1-mentalidad {
  background-image: url(../img/Mentalidad/img1-mentalidad-sec2.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid #fff;
  border-radius: 20px;
  height: 300px;
}

.box-2-mentalidad p {
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #000;
}

/*inicio mediaquery*/
@media (min-width: 576px) {
  .box-2-mentalidad {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 792px) {
  .box-2-mentalidad p {
    font-size: 18px;
  }
}
/*fin mediaquery*/
/*seccion-1 fin*/
/*seccion-2 inicio*/
.sec-2-mentalidad {
  background-image: linear-gradient(to bottom, #efc88b, #f0cc90, #f0cf95, #f1d39a, #f2d69f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
}
.sec-2-mentalidad h2 {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 25px 0px 35px 0px;
  transition: all 300ms;
}
.sec-2-mentalidad h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.fila-2-mentalidad {
  display: flex;
  justify-content: center;
  max-width: 750px;
}
.fila-2-mentalidad p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 15px;
  color: #000;
}

.img-2-mentalidad {
  background-image: url(../img/Mentalidad/img2-mentalidad-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 15px 0px 65px 0px;
  border: 3px solid #fff;
  border-radius: 10px;
}

/*inicio mediaquery*/
@media (min-width: 290px) {
  .img-2-mentalidad {
    height: 600px;
  }
}
@media (min-width: 576px) {
  .img-2-mentalidad {
    height: 500px;
    width: 330px;
  }
  .box-3-mentalidad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-4-mentalidad {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .fila-2-mentalidad p {
    margin-bottom: 0px;
    font-size: 17px;
  }
}
@media (min-width: 694px) {
  .fila-2-mentalidad p {
    width: 420px;
  }
}
@media (min-width: 800px) {
  .fila-2-mentalidad p {
    font-size: 20px;
  }
}
/*fin mediaquery*/
/*seccion-2 fin*/
/*seccion-3 inicio*/
.sec-3-mentalidad {
  background-image: linear-gradient(to bottom, #f2d69f, #f2d9a4, #f3dda8, #f3e0ad, #f4e3b2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #fff;
  padding-bottom: 50px;
}
.sec-3-mentalidad h2 {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 25px 0px 45px 0px;
  transition: all 300ms;
}
.sec-3-mentalidad h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.fila-3-mentalidad {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}

.img-3-mentalidad {
  background-image: url(../img/Mentalidad/img3-mentalidad-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  border: 3px solid #fff;
  border-radius: 20px;
}

.box-6-mentalidad {
  padding-top: 20px;
}
.box-6-mentalidad p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 25px 6px 45px 0px;
  padding: 10px;
}

/*inicio mediaquery*/
@media (min-width: 800px) {
  .box-6-mentalidad p {
    font-size: 18px;
  }
}
/*fin mediaquery*/
/*seccion-4 inicio*/
.sec-4-mentalidad {
  background-image: linear-gradient(to bottom, #f4e3b2, #f0e1b7, #ece0bc, #e8dec0, #e4dcc5);
  border-top: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-4-mentalidad h2 {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 45px;
  text-align: center;
  padding: 25px 0px 50px 0px;
  transition: all 300ms;
}
.sec-4-mentalidad h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.fila-4-mentalidad {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}

.box-7-mentalidad p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  color: #000;
}

.img-4-mentalidad {
  background-image: url(../img/Mentalidad/img4-mentalidad-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  border: 3px solid #fff;
  border-radius: 20px;
  margin-bottom: 50px;
}

/*inicio mediaquery*/
@media (min-width: 576px) {
  .img-4-mentalidad {
    margin-top: 25px;
  }
}
@media (min-width: 800px) {
  .box-7-mentalidad p {
    font-size: 18px;
  }
}
/*fin mediaquery*/
/*seccion-4 fin*/
/*seccion-5 inicio*/
.sec-5-mentalidad {
  background-image: linear-gradient(to bottom, #e4dcc5, #d2decd, #cbdcd7, #ced9db, #d3d5d7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.sec-5-mentalidad h2 {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 45px;
  text-align: center;
  padding: 25px 0px 45px 0px;
  transition: all 300ms;
}
.sec-5-mentalidad h2:hover {
  transform: scale(1.1);
  cursor: default;
}

.fila-5-mentalidad {
  max-width: 750px;
}

.img-5-mentalidad {
  background-image: url(../img/Mentalidad/img5-mentalidad-sec2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  border: 3px solid #fff;
  border-radius: 20px;
}

.box-10-mentalidad {
  display: flex;
  align-items: center;
}
.box-10-mentalidad p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin: 25px 0px 45px 0px;
  border: 2px solid #fff;
  color: #000;
  border-radius: 20px;
  padding: 10px;
}

/*inicio mediaquery*/
@media (min-width: 468px) {
  .img-5-mentalidad {
    height: 400px;
  }
}
@media (min-width: 800px) {
  .box-10-mentalidad p {
    font-size: 18px;
  }
}
/*fin mediaquery*/
/*seccion-5 fin*/
/* footer inicio */
footer {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
}

.footer-metalidad {
  background-color: #D3D5D7 !important;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
  transition: all 500ms;
}

.redes a:hover {
  color: #fff;
  font-size: 37px;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box3 a:hover {
  color: #fff;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
#up-nosotros {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 25px;
  transition: 500ms;
}

#up-nosotros:hover {
  padding: 2px 9px;
}

/* up fin */
/*PAGINA CONTACTO*/
/* Inicio Variables*/
/*Colores*/
/* Fonts */
/* Fin Variables*/
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* header inicio */
header {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 18px;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav a {
  color: #fff !important;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}

.navbar-contacto a:hover {
  color: #CC2936 !important;
  transform: scale(1.4);
}

/* mediaquery inicio */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-collapse ul {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .navbar {
    width: 800px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse ul {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse li {
    margin: 10px;
  }
  .navbar-collapse a {
    padding: 10px;
  }
}
/* fin mediaqury */
/* header fin */
/*main inicio*/
.main-contacto {
  background-image: linear-gradient(to bottom, #cc2936, #d4653f, #da9059, #dfb781, #e8dab2);
  border-top: 2px solid #fff;
  display: flex;
  justify-content: center;
}

.fila1-main-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  padding-left: 10px;
}

.box1-contacto {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box1-contacto h2 {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.box1-contacto p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  color: #fff;
}

.img-1-contacto {
  background-image: url(../img/Contacto/img1-contacto-sec1.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  border: 3px solid #000;
  border-radius: 20px;
  margin-bottom: 40px;
}

/*inicio mediaquery*/
@media (min-width: 320px) and (max-width: 576px) {
  .box1-contacto {
    width: 95%;
  }
  .fila1-main-contacto {
    padding: 0px;
  }
}
@media (min-width: 576px) {
  .img-1-contacto {
    margin: 30px 0px 40px 0px;
  }
}
/*fin mediaquery*/
/*main fin*/
.section-1-contacto {
  background-image: linear-gradient(to bottom, #e8dab2, #b0cdaa, #7fbcb2, #67a5b8, #7389ae);
  padding: 45px 15px;
  border-top: 2px solid #fff;
  display: flex;
  justify-content: center;
}

.fila-1-section1 {
  max-width: 800px;
}

.box1-sec1-contacto p {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 35px;
}

/*section-2 inicio*/
.section-2-contacto {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #7389ae, #6780a5, #5a789b, #4e6f92, #416788);
  border-top: 2px solid #fff;
}

.box1-sec2-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #7389ae, #6780a5, #5a789b, #4e6f92, #416788);
  max-width: 600px;
  padding: 0px 10px;
}

.titulosec2-contacto {
  padding: 20px 0;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  transition: all 300ms;
}

.titulosec2-contacto:hover {
  transform: scale(1.1);
  cursor: default;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px;
  margin: 50px 0 10px 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #7389ae, #6780a5, #5a789b, #4e6f92, #416788);
}
.form label {
  padding: 10px;
  font-size: 18px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 500;
}

[type=text], [type=email], [type=submit], textarea {
  padding: 10px;
  border: 1px solid black;
  color: white;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, #7389ae, #6780a5, #5a789b, #4e6f92, #416788);
  outline: none;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

[type=submit] {
  margin-top: 10px;
}

.form label:hover {
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 0px gray, 3px 3px 0px gray, 4px 4px 0px gray;
}

input::placeholder {
  color: white;
}

textarea::placeholder {
  color: white;
}

.form input:focus {
  background-color: #416788;
  border: 2px solid white;
}

textarea:focus {
  background-color: #416788;
  border: 2px solid white;
}

.box1-sec2-contacto a {
  padding: 10px;
  border: 1px solid black;
  color: white;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, #7389ae, #6780a5, #5a789b, #4e6f92, #416788);
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Winky Sans", sans-serif;
}

.box1-sec2-contacto a:active {
  background-color: #7389AE;
  border: 2px solid white;
  color: black;
}

/*section-2 fin*/
/* footer inicio */
.footer-contacto {
  border-top: 2px solid #fff;
  padding: 15px 25px 0px 25px;
  background-color: #416788 !important;
}

.footer-box1 {
  text-align: center;
  border-bottom: 1px solid #000;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}
.footer-box1 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.footer-box2 {
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.footer-box2 h3 {
  font-weight: bold;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.redes {
  font-size: 35px;
  margin-top: 30px;
}
.redes a {
  color: #000;
  margin: 0px 2px;
  transition: all 500ms;
}

.redes a:hover {
  color: #fff;
  font-size: 37px;
}

.footer-box3 {
  text-align: center;
  padding: 25px 0px;
}
.footer-box3 ul {
  list-style: none;
  padding: 0;
}
.footer-box3 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  font-family: "ZCOOL XiaoWei", sans-serif;
  transition: all 500ms;
}

.footer-box3 a:hover {
  color: #fff;
  font-size: 28px;
}

.fila-2-footer p {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
}

/* inicio mediaquery */
@media (min-width: 576px) {
  .footer-box1 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
  .footer-box2 {
    border-bottom: none;
    border-right: 1px solid #000;
  }
}
/* fin mediaquery */
/* footer fin */
/* up inicio */
#up-nosotros {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 25px;
  transition: 500ms;
}

#up-nosotros:hover {
  padding: 2px 9px;
}

/* up fin */

/*# sourceMappingURL=style.css.map */
