/* Inicio Variables*/

/*Colores*/

$colornegro: #000;
$colorblanco: #fff;
$color-primario-mentalidad: #CF5C36;
$color-secundario-mentalidad: #EFC88B;
$color-tres-mentalidad: #F2D69F;
$color-cuatro-mentalidad: #F4E3B2;
$color-cinco-mentalidad: #E4DCC5;
$color-seis-mentalidad: #D3D5D7;
/* Fonts */

$fuenteprincipal: "ZCOOL XiaoWei", sans-serif;
$fuentesecundaria: "Winky Sans", sans-serif;
$pesofuentesecundaria: 300;

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap');

/* Fin Variables*/