/* section-3 inicio */

.sec-3-inicio {
    background-image: linear-gradient(to bottom, #ecfee8, #d9e6c6, #cacda4, #beb484, #b49a67);
    border-top: 2px solid $colorblanco;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: $colornegro;
        text-align: center;
        font-weight: 500;
        font-size: 40px;
        padding: 25px 0px 50px 0px;
        font-family: $fuenteprincipal;
        @extend .shadow-titulo;
        transition: all 300ms;
    }

    h2:hover{
        transform: scale(1.1);
        cursor: default;
    }
}


.sec-3-inicio-div1{
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-3-inicio p {
    text-align: center;
    font-family: $fuentesecundaria;
    font-weight: $pesofuentesecundaria;
    border: 2px solid $colornegro;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

.sec-3-inicio-box1 {
    display: flex;
    align-items: center;
    padding: 15px;
}

.sec-3-inicio-img1 {
    background-image: url(../img/Inicio/img1-inicio-sec4.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    border: 3px solid $colornegro;
    border-radius: 20px;
}

/* inicio mediaquery */

@media (min-width:820px) {
    .sec-3-inicio-box1 p {
        font-size: 18px;
    }
}

@media (min-width:1000px) {
    .sec-3-inicio-img1 {
        height: 350px;
    }

    .sec-3-inicio-box1 p {
        font-size: 20px;
    }
}

/* fin mediaquery */

/* section-3 fin */
