/* Inicio Variables*/

/*Colores*/

$colornegro: #000;
$colorblanco: #fff;
$color-primario-inicio: #6EA4BF;
$color-secundario-inicio: #C2EFEB;
$color-tres-inicio: #ECFEE8;
$color-cuatro-inicio: #B49A67;

/* Fonts */

$fuenteprincipal: "ZCOOL XiaoWei", sans-serif;
$fuentesecundaria: "Winky Sans", sans-serif;
$pesofuentesecundaria: 300;

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=ZCOOL+XiaoWei&display=swap');

/* Fin Variables*/